/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *
  FROM [NextCARE].dbo.EmailType;
SELECT *
  FROM [NextCARE].dbo.PhoneType;
SELECT *
  FROM [NextCARE].dbo.AddressType;
SELECT *
  FROM [NextCARE].dbo.GuardianType;
SELECT *
  FROM [NextCARE].dbo.PersonType;
SELECT *
  FROM [NextCARE].dbo.Race;
SELECT *
  FROM [NextCARE].dbo.StudentType;
